<!DOCTYPE html>
<html lang="fr-BJ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: AGRI•DIGITAL | Connexion ::.</title>
    <link rel="stylesheet" href="./CSS/style_co.css">
</head>

<body>
    <main>
        <h2>Connexion</h2>
        <form action="" method="post">
            <div>
                <label for="name">Nom et Prénom</label>
                <input type="text" name="name" id="name" placeholder="Joe GOLDBERG">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe">
            </div>
            <div>
                <input type="submit" value="Connexion">
            </div>
        </form>
    </main>
</body>

</html>